.onboarding2{
    background: var(--bg-main);
    color: var(--text);
    height: 100vh;
    margin: 0 auto;
}
.onboarding2-main{
    margin: 0 auto;
    width: 520px;
    padding: 1.3rem;
    background: #ffffff3c;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}
.visualisation__section{
    background: #ffffff2b;
    height: 490px;
    display: flex;
    align-items: center;
}
.visualisation__section div{
    background: #ffffff2b;
    width: max-content;
    padding: 1rem;
    margin: 0 auto;
}
.content__section{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.content__section-heading{
    font-size: 36px;
    font-weight: 600;
    font-family: "Plus Jakarta Sans", sans-serif;
}
.content__section-text{
    color: var(--text-main);
    font-family: inter;
    letter-spacing: 1px;
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
}
.proggressIndicators{
    width: 1rem;
    height: 1rem;
    background: var(--border);
    border-radius: 50%;
}