.splash-screen{
    height: 100vh;
    background-image: url(./src/splash-screen_bg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


// .splash-center__wrap{

// }